p{ animation-name:fafa ;
animation-duration: 5s;
background-color: red;}
@keyframes fafa{
    0%{background-color: aquamarine;}
    40%{background-color: brown;}
    80%{background-color: burlywood;}
    100%{background-color: crimson;}
}
body{background:#000000 url(https://p0.pikist.com/photos/263/238/nature-landscape-kackars-mountains-hills-grass-green-peace-grassland.jpg);
 no repeat center center/ cover fixed}
 h1{background-color:maroon;
}
